// --------------------------------------------------
// Theme
// --------------------------------------------------

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);



// --------------------------------------------------
// Default
// --------------------------------------------------
*{
  font-family: 'Roboto', sans-serif !important;
  color:$grey;
}

h1{
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 3rem;
  font-weight: 500;
  color: $grey;
  background: url(../../assets/img/logoGrey.svg) no-repeat right center;
  @include breakpoint(small only){
    padding-right:0;
    font-size: 3rem;
    line-height: 2.3rem;
    background-size: auto;
  }
  a{
    display: block;
  }
}

h2{
  font-size: 1.25rem;
  font-weight: 300;
}


p{
  font-size: 1rem;
}

a{
  color:$grey;
}


// --------------------------------------------------
// Header
// --------------------------------------------------
header{
  background: #fff;
  padding:10px;
  @include breakpoint(small){
	  padding:10px 0;
  }

  svg{
    width: 150px;
    float: right;
  }
}



nav{
  ul{
    float: left !important;
  }
  a{
    font-size: 1.4rem;
    color: $grey;
    &:hover{
      // color: #000;
    }
  }
}



// --------------------------------------------------
// Homepage
// --------------------------------------------------
.workPosts{
  .columns{
    background-size: cover;
  }

  a{
    display: block;
    margin: 20px 0;
    span{
      background: $grey90;
      color:#fff;
      font-size: 3.5rem;
      line-height: 4.1rem;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
}





// --------------------------------------------------
// Footer
// --------------------------------------------------
footer{
  background: #fff;
  text-align: center;
}
