---
layout: default
---

<main>
  <div class="row">
    <div class="medium-12 columns">
      <h3>{{ page.title }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <a href="{{page.link}}" target="_blank">
        <img src="/{{ page.img }}" alt="{{ page.title}}" class=postImg>
      </a>
      <p><a href="{{page.link}}" target="_blank"><strong>View Site:</strong> {{page.link}}</a></p>
      <p><strong>Built With:</strong> {{page.tech}}</p>
    </div>
    <div class="large-4 columns">
      {{ content }}
    </div>
  </div>
</main>
